body {
	font-family: 'Quicksand', sans-serif;
}
.inicial {
	position:  relative;
	margin:  0 auto;
}
#logo {
	display: block;
	position: absolute;
	width: 292px;
	height: 141px;
	left: 121px;
	top: 98px;
}
#linha-header {
	position: absolute;
	width: 391.02px;
	height: 0px;
	left: 120.98px;
	top: 267.23px;
	border: 4px solid; 
	color: #029456;
}
h2 {
	position: absolute;
	width: 415px;
	height: 62px;
	left: 121px;
	top: 303px;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 46px;
	color: #029456;
}
.caixa-form {
	position: absolute;
	width: 546px;
	right: 0px;
	top: 0%;
	bottom: 0%;
	background: #029456;
}
h3 {
	position: absolute;
	width: 546px;
	height: 35px;
	right: 0px;
	top: 135px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
}
input {
	border: 0;
	padding: 8px 16px;
	margin-left: 94px;
	background: transparent;
	font-family: Quicksand;
	font-size: 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}
#usuario {
	position: absolute;
	width: 325px;
	top: calc(50% - 21px/2 - 123.5px);
}
#senha {
	position: absolute;
	width: 325px;
	top: calc(50% - 20px/2 - 63px);
}

input[type="submit"] {
	position: absolute;
	width: 357px;
	height: 52px;
	right: 92px;
	top: calc(50% - 52px/2 + 45px);
	background: #01321E;
	border-radius: 8px;
}
input[value="entrar"] {
	text-transform: uppercase;
}
.entrar {
	position: absolute;
	width: 357px;
	height: 20px;
	right: 92px;
	top: calc(50% - 20px/2 + 45px);
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}
a {
	position: absolute;
	width: 546px;
	height: 15px;
	right: 0px;
	top: calc(50% - 15px/2 + 94.5px);
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
}
